doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title="tetris game"
		link(rel="stylesheet", href="css/main.css")
		block head
	body
		header
		#main(role="main", class="container")
			block content
		footer.container
			.front.
				contact <a href="mailto:gustavoyukio@gmail.com"> Gustavo Yukio </a>
			.back.
				abacate amarelo
		script(src="script/app.js")